{:output-dir "resources/public/javascripts/cljs-dev", :closure-warnings {:externs-validation :off, :non-standard-jsdoc :off}, :externs ["resources/public/vendor/js/mo.min.js" "resources/public/vendor/js/externs.js"], :optimizations :none, :preloads [figwheel.connect], :output-to "resources/public/javascripts/dev.js", :source-map-timestamp true, :asset-path "javascripts/cljs-dev", :source-map true, :foreign-libs [{:file "resources/public/vendor/js/calculator.js", :provides ["calculator"], :module-type :es6} {:file "resources/public/vendor/js/mojs_player.js", :provides ["mojs.player"], :module-type :commonjs}], :external-config #:figwheel{:config {:build-id "dev", :websocket-url "ws://localhost:3449/figwheel-ws"}}, :main "cljs-simple.core", :pretty-print true}