{:rename-macros {}, :renames {}, :use-macros {}, :excludes #{}, :name figwheel.connect.dev, :imports nil, :requires {figwheel.client figwheel.client, figwheel.client.utils figwheel.client.utils}, :uses nil, :require-macros nil, :cljs.analyzer/constants {:seen #{:build-id :websocket-url}, :order [:build-id :websocket-url]}, :doc nil}